.page-template-page-templatesabout-php{
	.about{
		img{
			display:none;
		}
	}
}
.single-strategy{
	.content{
		img{
			display: none;
		}
	}
	.col-md-8 {
		padding-top: 25px;
	}
}
 .blog{
 	.col-md-7{
 		&:first-child{
 			margin: auto;
 		}
 	}
 	.row{
 		img{
 			&.img-responsive{
 				display: none;
 			}
 		}
 	}
 }