//iPhone 5 All
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {@import "iPhone/both"}
//iPhone 5 in landscape
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {@import "iPhone/landscape"}

//iPhone 5 in portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {@import "iPhone/portrait"}

//iPad All
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {@import "iPad/both"}

//iPad in landscape
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {@import "iPad/landscape"}

//iPad in portrait
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {@import "iPad/portrait"}

@media (max-width:767px) {
	.header-slider{
		.slick-slide{
			img{
				height: auto;
			}
		}
	}
	.navbar-nav{
		position: relative;
		z-index: 1;
		background-color: $maroon;
		top: -28px;
	}
	.blog-home{
		margin-top: 0;
	}
	.red{
		margin-top:0;
	}
	.dropdown{
		&:hover{
			.dropdown-menu {
    		display: list-item;
    	}
    }
 }
 footer{
 	text-align: center;
 }
}
.navbar-toggle{
	background-color: #fff;
	border-color: #fff;
	.icon-bar{
		background-color:$maroon;
	}
}