// customize bootstrap variables here:
@import "../../bower_components/twbs-bootstrap-sass/assets/stylesheets/bootstrap";
//Slick Slider
@import "../../bower_components/slick-carousel/slick/slick";

//Modules and Variables
@import "partials/base";

// Partials
@import "partials/header";
@import "partials/footer";

//Pages
@import "partials/pages/home";
@import "partials/pages/about";


*{font-family:$georgia;}
.container{max-width:960px;}
body{
	background: url(../images/map.png) no-repeat right bottom;
}