//Colors
//Reds
$red: #D01321;
$maroon: #84070D;
$burgandy: #51070D;

$georgia: "adobe-caslon-pro";
@import "modules/all";

.title-bar{
	background-color: #f6f4f2;
	color: $maroon;
	margin-bottom:30px;
	h1{
		font-size: 30px;
	}
}