//Colors
//Reds
$red: #D01321;
$maroon: #84070D;
$burgandy: #51070D;

$georgia: "adobe-caslon-pro";
@import "modules/all";

.title-bar{
	color: $maroon;
	margin-bottom:30px;
	h1{
		font-size: 30px;
		padding-left: 7px;
	}
}