nav{
	height: 40px;
	background: $maroon;
	border-radius: 0;
}
.navbar{
	border:none;
	margin-bottom:0;
	border-radius:0;
}
.navbar-ex1-collapse{
	a{
		@include all-font(18px, white, $georgia);
	}
}
.nav{
	>li{
		>a{
			&:hover, &:active{
				background-color: $burgandy;
			}
		}
	}
}
.nav{
	.open{
		> a{
			background-color: $burgandy;
			&:hover, &:focus{
				background-color: $burgandy;
			}
		}
	}
}
.header-slider{
	border-bottom: 3px solid #51070d;
	.slick-slide{
		img{
			width: 100%;
			height: 475px;
			max-width: 2000px;
		}
	}
}
.logo{
	border-bottom: 3px solid $burgandy;
	background-color: #f6f4f2;
	img{
		height:100px;
	}
}
.navbar-nav{
	> li{
		> .dropdown-menu{
			background-color: $maroon;
			padding: 0;
			margin-top: -1px;
			border-radius: 0;
		}
	}
}
.navbar-right{
	.dropdown-menu{
		right:auto;
	}
}
.dropdown-menu{
	> li{
		> a{
			color:white;
			&:hover, &:focus{
				background-color: $burgandy;
				color:white;
			}
		}
	}
}
.dropdown{
	&:hover{
		.dropdown-menu {
    		display: block;
    	}
    }
 }