.page-template-page-templatesabout-php{
	.col-md-7{
		font-size: 16px;
		color: #8f8d88;
		margin-top: 55px;
		&::first-letter{
			font-size:82px;
			float: left;
			line-height: 60px;
			padding-top: 4px;
			padding-right: 4px;
			padding-left: 3px;
			font-weight: normal;
			color: $maroon;
		}
		&.red{
			color: $maroon;
			font-size: 20px;
			line-height: 35px;
		}
	}
	.about{
		margin-bottom: 20px;
	}
}