.page-template-page-templatesabout-php{
	.content-about{
		font-size: 16px;
		color: #8f8d88;
		margin-top: 55px;
		float:left;
		max-width: 500px;
		&::first-letter{
			font-size: 55px;
			float: left;
			line-height: 55px;
			padding-right: 3px;
			padding-left: 3px;
			font-weight: normal;
			color: $maroon;
		}
		&.red{
			color: $maroon;
			font-size: 20px;
			line-height: 35px;
		}
	}
	.about{
		margin-bottom: 20px;
		img{
			float: left;
			&:nth-child(odd){
				margin-right: 60px;
			}
			&:nth-child(even){
				margin-left: 60px;
			}
		}
	}
}