.page-template-page-templatescontact-php{
	span{
		display: block;
		color: #8f8d88;
		font-size: 16px;
	}
	h3{
		color:$maroon;
		font-size: 16px;
		margin-top: 10px;
	}
	h2{
		color:$maroon;
		font-size: 24px;
	}
}
.map-canvas{
	max-width: 435px;
	width: auto;
	height: 238px;
	margin-top: 10px;
}
.gmnoprint{
	display:none !important;
}
.more-info{
	margin-top: 20px;
	.red, a{
		color:#84070d;
		font-size: larger;
	}
}