.blog{
	.col-md-7{
		&:first-child{
			margin-left: 40px;
		}
	}
	.col-md-6{
		padding-top:10px;
		padding-left: 40px;
		a{
			color:#8f8d88;
			font-size: 14px;
			text-decoration: none;
		}
	}
	.col-md-4{
		img{
			margin-top: 35px;
		}
	}
	.ind-post{
		border:none;
		hr{
			border-top: 3px solid transparent;
		}
		&:hover{
			background-color: #f6f4f2;
			color:$maroon;
			.date{
				background-image:url("../images/date-hover.png");
			}
			hr{
				border-top: 3px solid $burgandy;
				max-width: 240px;
				margin-right: 25px;
			}
		}
	}
	.date{
		background-color: #dad5ca;
		margin-bottom: 10px;
	}
}
.nav-previous, .nav-next{
	height: 40px;
	width: 40px;
	margin: auto;
	margin-bottom:10px;
}
.nav-previous{
	background-image: url('../images/prev-default.png');
	&:hover{
		background-image: url('../images/prev-hover.png');
	}
}
.nav-next{
	background-image: url('../images/next-default.png');
	&:hover{
		background-image: url('../images/next-hover.png');
	}
}