.page-template-page-templatesstrategies-php{
	.title{
		color: $maroon;
		display: inline-block;
		font-size: 30px;
		span{
			text-transform: uppercase;
		}
	}
	.content{
		color: #8f8d88;
		font-size: 20px;
		&::first-letter{
			font-size:64px;
			float: left;
			line-height: 25px;
			padding-top: 30px;
			padding-right: 4px;
			padding-left: 3px;
			font-weight: normal;
		}
	}
	.btn-default{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		border-color: #b5b1a9;
		background-color: #fff;
		color: #b5b1a9;
		font-size: 12px;
		border-radius: 50px;
		&:hover{
			background-color: $maroon;
			color:#fff;
		}
	}
}
.strategy{
	margin-bottom:80px;
}