.page-template-page-templatesteam-php{
	font-size: 16px;
	color: #454546;
	.top-title{
		display:inline-block;
	}
	.title{
		color:$maroon;
		font-size:20px;
		span{
			display:block;
			font-size: 16px;
		}
	}
	.btn{
		height:30px;
		border-radius: 50px;
		&.active{
			box-shadow: none;
			background-color: #840c15;
		}
	}
	.btn-default{
		margin-top:15px;
		background-color: #dad5ca;
		color: #fff;
		border-color:#dad5ca;
		font-size: 14px;
		&:hover{
			background-color: #840c15;
		}
	}
	.btn-danger{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		border-color: #b5b1a9;
		background-color: #fff;
		color: #b5b1a9;
		font-size: 12px;
		&:hover{
			background-color: $maroon;
			color:#fff;
		}
	}
}
.collapse.in{
	display:inline;
}