.page-template-page-templatesteam-php, .single-strategy{
	font-size: 16px;
	color: #454546;
	.top-title{
		display:inline-block;
	}
	.title{
		color:$maroon;
		font-size:20px;
		span{
			display:block;
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
	.btn{
		height:30px;
		border-radius: 50px;
		&.active{
			box-shadow: none;
			background-color: $maroon;
			border-color: $maroon;
		}
	}
	.btn-default{
		margin-top:15px;
		background-color: #dad5ca;
		color: #fff;
		border-color:#dad5ca;
		font-size: 14px;
		// padding-top: 4px;
		&:hover{
			background-color: $maroon;
			border-color: $maroon;
		}
	}
	.btn-danger{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		border-color: #b5b1a9;
		background-color: #fff;
		color: #b5b1a9;
		font-size: 12px;
		&:hover{
			background-color: $maroon;
			border-color: $maroon;
			color:#fff;
		}
	}
}
.collapse.in{
	display:inline;
}
.member{
	p{
		&:first-child{
			//display: inline;
		}
	}
}