//General
body{
	background: none;
}
.logo{
	img{
		height: 80px;
	}
}
.title-bar{
	margin-bottom: 0;
}
/*-------- Start Home ----------*/
//Slider
.home-slider{
	.slick-slide{
		img{
			height:auto;
		}
	}
}
.blog-home{
	margin-top: 0;
}
/*-------- End Home ----------*/

/*-------- Start Team ----------*/
.member{
	padding-left: 27px;
}
.team-img{
	text-align: center;
}
/*-------- End Team ----------*/

/*-------- Start Single Strategy ----------*/
.single-strategy{
	.content{
		img{
			display:none;
		}
		.col-md-8{
			padding-top: 0;
		}
	}
}
/*-------- End Single Strategy ----------*/

/*-------- Start About Us ----------*/
.page-template-page-templatesabout-php{
	.col-md-4{
		img{
			display: none;
		}
	}
}
.about{
	margin-top: -50px;
}
/*-------- End About Us ----------*/

/*-------- Start News ----------*/
.page-template-page-templatesnews-php{
	.col-md-4{
		img{
			display:none;
		}
	}
	.col-md-7{
		&:first-child{
			margin-left: 0;
		}
	}
}
/*-------- End News----------*/

/*-------- Start Portfolio ----------*/
.portfolio-img{
	text-align: center;
	padding-top: 0;
}
.page-template-page-templatesportfolio-php{
	h3{
		display: block;
		text-align: center;
	}
	a{
		&.btn-default{
			float: none;
			margin-bottom: 10px;
		}
	}
	.content{
		p{
			padding-left:15px;
			padding-right:15px;
		}
	}
}
/*-------- end Portfolio----------*/