//General
body{
	background: none;
}
/*-------- Start Home ----------*/
//Slider
.home-slider{
	.slick-slide{
		img{
			height:auto;
		}
	}
}
.blog-home{
	margin-top: 0;
}
/*-------- End Home ----------*/

/*-------- Start Team ----------*/
.member{
	padding-left: 27px;
}
.team-img{
	text-align: center;
}
/*-------- End Team ----------*/

/*-------- Start Single Strategy ----------*/
.single-strategy{
	.content{
		img{
			display:none;
		}
		.col-md-8{
			padding-top: 0;
		}
	}
}
/*-------- End Single Strategy ----------*/

/*-------- Start About Us ----------*/
.page-template-page-templatesabout-php{
	.col-md-4{
		img{
			display: none;
		}
	}
}
/*-------- End About Us ----------*/

/*-------- Start News ----------*/
.page-template-page-templatesnews-php{
	.col-md-4{
		img{
			display:none;
		}
	}
	.col-md-7{
		&:first-child{
			margin-left: 0;
		}
	}
}
/*-------- Start News----------*/
