/*-------- Start Portfolio ----------*/
.page-template-page-templatesportfolio-php{
	a{
		&.btn-default{
			float: none;
			margin-bottom: 10px;
			margin-left: 105px;
		}
	}
}
/*-------- end Portfolio----------*/